allow hal_drm_default vndbinder_device:chr_file { read write open ioctl };
allow hal_drm_default drm_device:chr_file { read open write ioctl };
allow hal_drm_default mediadrm_vendor_data_file:file { read open write getattr create unlink rename };
allow hal_drm_default mediadrm_vendor_data_file:dir { read open write getattr create search add_name remove_name rmdir};
allow hal_drm_default self:capability sys_nice;

get_prop(hal_drm_default, vendor_media_prop)
