vendor_restricted_prop(vendor_media_prop)
vendor_restricted_prop(vendor_tv_prop)
vendor_restricted_prop(vendor_bcmdl_prop)
vendor_internal_prop(ctl_dhcp_pan_prop)
vendor_restricted_prop(vendor_netflix_prop)
vendor_restricted_prop(vendor_platform_prop)
vendor_internal_prop(vendor_persist_prop)
vendor_restricted_prop(vendor_app_prop)
vendor_internal_prop(vendor_wifi_prop)
vendor_internal_prop(vendor_oem_prop)
vendor_internal_prop(vendor_logging_prop)
vendor_restricted_prop(vendor_bluetooth_prop)
vendor_restricted_prop(vendor_exported_wifi_prop)
vendor_restricted_prop(tee_supplicant_prop)
vendor_restricted_prop(vendor_miracast_prop)
vendor_restricted_prop(vendor_memc_prop)
