# preinstall
kvim3/preinstall/Android.mk
kvim3/preinstall/preinstall.mk
kvim3/preinstall/Chrome.apk
kvim3l/preinstall/Android.mk
kvim3l/preinstall/preinstall.mk
kvim/preinstall/Android.mk
kvim/preinstall/preinstall.mk
