<?xml version="1.0" encoding="utf-8"?>
<dtvkit>
    <tuner ts_input="2" dvbt2="yes" dvbs2="yes" dvbc="yes"/>
    <demux live="yes" pip="yes" rec="yes" playback="yes" si="yes"/>
    <demux live="yes" pip="yes" rec="yes" playback="yes" si="yes"/>
    <demux live="yes" pip="yes" rec="yes" playback="yes" si="yes"/>
    <recorder/>
    <recorder/>
    <recorder/>
    <vdec/>
    <adec/>
    <adec/>
    <ci_slot/>
    <av demux="0"/>
    <ci_source is_set_tsout="1" tsout_source="2" is_set_tssource="1" camPlug_tssource="1" camUnPlug_tssource="2" is_changeTo_utf8="1" encodec_source="gb2312" dev_id="2"/>
    <pvr encrypt="0x0" />
    <country code="deu" />
    <network net_id_max="0xffff" orig_net_id_max="0xffff" usr_def_orig_net_id="0xffff" />
    <sipsi pat_timeout="800" pmt_timeout="3000" sdt_timeout="15000" nit_timeout="10000" cat_timeout="2000" bat_timeout="12000" tot_timeout="32000" tdt_timeout="32000" eit_timeout="3000"/>
</dtvkit>
